{% extends 'base.html' %}
{% block about %}
<div class ="container my-3 ">
<h3>About</h3>
<p> Social Network Application is maintained by a <a href ="https://github.com/saurabh888191@gmail.com/Flask"> Saurabh Yadav </a> on Github.That project is created by using Flask module of python and sqLite Database.In that project you can add,remove,update your post on Socila Network Application </p>
<p>Originally created by Designer and Developer Saurabh Yadav </p>
<p>Social Network Application was created in 2022 as ahandson project on Flask</p>
</div>
{% endblock about %}