{% extends 'base.html' %}
{% block about  %}
  <div class="container my-3 ">
    <h3>About </h3>
    <p>TODO list is maintained by a <a href="https://github.com/saurabh888191/Flask">Saurabh Yadav</a> on GitHub.That project is created by using Flask module of python.In that Project you can add ,remove,update daily activity task on the basis of requirement</h2>
    <p>Originally created by a designer and a developer Saurabh Yadav, This project is for maintaining TODO list of all task </p>
    <p>TODO list was created in 2022 as a handson project on FLASK 
  </div>  
{% endblock about %}
{% block footer %}
    
{% endblock footer %}